#comentarios {
    background: url('../img/comentarios.webp') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
#comentarios h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}
.sombra-simples {
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
}
#midia {
    background: url('../img/comentarios.webp') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

#sobre {
    background: url('../img/01.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
#sobreMeio{
    background-color: rgb(228, 227, 227);
}

#servico {
    background: url('../img/makes.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height: 200px;
}
#faq {
    background: url('../img/FAQ.webp') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height: 200px;
}
#faqMeio{
    background-color: rgb(228, 227, 227) !important;
}
.user_servicos{
    width: 200px;
}

.custom-navbar {
    background-color: #3E760B !important;
}
.btn-verde {
    background-color: #fff !important; /* Nova cor de fundo */
    border-color: #3E760B !important;     /* Nova cor da borda */
    color: #3E760B  !important;              /* Cor do texto */
}
.btn-verde:hover {
    background-color: #3E760B !important; /* Nova cor de fundo */
    border-color: #fff !important;     /* Nova cor da borda */
    color: white !important;              /* Cor do texto */
}

/* Botão de Limpar (vermelho padrão do Bootstrap) */
.btn-danger {
    background-color: #dc3545 !important; /* Vermelho padrão Bootstrap */
    border-color: #dc3545 !important;
    color: white !important;
}

/* Botão de Cadastrar (azul padrão do Bootstrap) */
.btn-success {
    background-color: #007bff !important; /* Azul padrão Bootstrap */
    border-color: #007bff !important;
    color: white !important;
}


