@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playwrite+IN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');


body {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  footer { 
    color:#4a0857
  }

.font-title {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

#comentarios {
    background: url('../img/comentarios.webp') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
#comentarios h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}
.sombra-simples {
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
}
#midia {
    background: url('../img/comentarios.webp') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

#sobre {
    background: url('../img/01.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
#sobreMeio{
    background-color: rgb(228, 227, 227);
}

#servico {
    background: url('../img/makes.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height: 200px;
}
#faq {
    background: url('../img/FAQ.webp') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height: 200px;
}
#faqMeio{
    background-color: rgb(228, 227, 227) !important;
}
.user_servicos{
    width: 200px;
}

.custom-navbar {
    background-color: #614c6e !important;
}
.btn-lilas {
    background-color: #fff !important; /* Nova cor de fundo */
    border-color: #614c6e !important;     /* Nova cor da borda */
    color: #614c6e  !important;              /* Cor do texto */
}
.btn-lilas:hover {
    background-color: #614c6e !important; /* Nova cor de fundo */
    color: white !important;              /* Cor do texto */
}

/* fundo rodape*/
.bg-lilas {
    background-color: #C9BFE2!important;
   
}
/* Botão de Limpar (vermelho padrão do Bootstrap) */
.btn-danger {
    background-color: #dc3545 !important; /* Vermelho padrão Bootstrap */
    border-color: #dc3545 !important;
    color: white !important;
}

/* Botão de Cadastrar (azul padrão do Bootstrap) */
.btn-success {
    background-color: #007bff !important; /* Azul padrão Bootstrap */
    border-color: #007bff !important;
    color: white !important;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
