/* Reset e Acessibilidade */
.skip-to-main {
    position: absolute;
    left: -9999px;
}

.skip-to-main:focus {
    left: 0;
    top: 0;
    padding: 1em;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    z-index: 1000;
}

/* Personalização de Cores para Título */
.titulo {
    color: #0066cc;
}

/* Ajustes de Quick Links */
.quick-links img {
    max-width: 150px; /* Limitar tamanho do logotipo */
}
